* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 1024;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-areas: "header header header header header"
                         "main main main main aside"
                         "main main main main aside"
                         "footer footer footer footer footer";
    background-image: linear-gradient(120deg, #ffeb9a 50%, #f6f665 20%);
}

header {
    display: grid;
    grid-area: header;
    grid-template-areas: "logo navbar navbar navbar login";
    background-color: grey;
    border: 1px solid black;
    border-radius: 14px;
}

.resize {
    width: 60px;
    height: auto;
}

#logo {
    grid-area: logo;
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-family: cursive;
}

#navbar {
    grid-area: navbar;
    margin: 0 8px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

#login {
    grid-area: login;
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 16px;
}

#navbar ul a{
    margin: 0 3px;
    padding: 0 3px;
    text-align: center;
    justify-content: space-between;
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas: "mainHead mainHead mainHead" "artZone section article";
    border-radius: 5px;
}

#mainHead {
    grid-area: mainHead;
    display: grid;
    grid-template-areas: "artZone artZone artZone";
    color: rgb(80, 80, 85);
}

#artZone {
  display: grid;
    grid-area: artZone;
    grid-template-areas: "section article article";
    margin: 0 0 0;
}

#section{
  margin: 0 10px;
    background-color: #f6f665;
}
#section .parag2{
  color: rgb(53, 53, 218);
  font-weight: bold;
}

#article{
  margin: 0 15px;
  align-items: center;
  background-color: #ffeb9a;
}

#aside {
    grid-area: aside;
    color: red;
}
#aside ol{
  color: green;
}

footer {
  display: grid;
    grid-area: footer;
    background-image: linear-gradient(120deg, white, #6f6f6d 50%, #454540 20%);
}

/***************Login*************/

.container{
    grid-area: wrapContainer;
    
}
#container .header{
  text-transform: uppercase;
}
#div{
    grid-area: loginContainer; 
}

.wrapContainer{
    display: grid;
    grid-template-areas: 'wrapContainer wrapContainer wrapContainer';
    background-image: url('/Image/skull.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size:cover;
}

.containerLogin{
    display: grid;
    margin: 30%;
    grid-template-areas: 'mainLogin mainLogin mainLogin'
                         'form form form';
}

.mainLogin{
    grid-area: mainLogin;
    text-align: center;
}
.form{
    grid-area: form;
    margin: 20px 15px 25px;
    height: 190px;
    width: 250px;
    text-align: center;
    color:rgb(110, 92, 52);
    background-color: black;
    border-radius: 60px;
}

input[type=text]{
  width: auto;
  border-radius: 10px;
}
input[type=password]{
  width: auto;
  border-radius: 10px;
}
input {
  border: 2px solid;
  margin: 0.25rem;
  padding: 0.3rem;
  transition: background-color 0.5s ease-out;
}

input:optional {
  border-color: gray;
}

input:required {
  border-color: black;
}

input:invalid {
  border-color: red;
}
button[type=submit] {
  margin: 5px;
  height: 25px;
  width: auto;
  border-radius: 10px;
  color: brown;
}
input[type=checkbox] {
  margin: 1px;
}
input[type=button]{
  background-image: url('/Image/david.jpg');
  background-size: 90px;
  color: rgb(255, 166, 0);
  border-radius: 15px;
}
.cancelbtn{
    background-color: rgb(220, 66, 0);
}

.psw{
  color: #6f6f6d;
}